/* General Styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-color: #FAF9F6;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #FAF9F6;
    color: rgb(0, 0, 0);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.187); 
    z-index: 1000;
    position: relative;
}

.nav-icon {
    width: 50px;
    height: auto;
}
  
  nav .logo a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-weight: bold;
  }
  
  nav .nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  nav .nav-links li {
    margin-left: 20px;
  }
  
  nav .nav-links li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  nav .nav-links li a:hover {
    background-color: lightgrey;
    color: rgb(0, 0, 0);
  }

.nav-item {
    margin-left: 20px;
}

.nav-item a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.nav-item a:hover {
    background-color: lightgrey;
    color: rgb(0, 0, 0);
}

.logo-center {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 20px 0; /* Move the logo closer to the sections */
    background-color: #FAF9F6;
}

.centered-logo {
    width: 100px; /* Adjust size as needed */
    height: auto;
}

.main-container {
    display: flex;
    height: calc(100vh - 160px); /* Adjust based on your header height */
    justify-content: center;
    align-items: center;
    gap: 10px; /* Bring sections closer together */
}

.left-section {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.side-image {
    height: auto;
    width: auto;
    max-width: 100%; /* Adjust as needed */
    max-height: calc(100% - 40px); /* Adjust as needed to control the height */
    border-radius: 10px; /* Add subtle border radius */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add light shadow */
}

.right-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 400px;
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 10px; /* Add subtle border radius */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add light shadow */
}

.login-container h1 {
    margin-bottom: 20px;
    font-size: 32px;
}

.login-container form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.login-container label {
    margin-bottom: 5px;
    font-size: 14px;
}

.login-container input {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-container button {
    padding: 10px;
    font-size: 16px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-container button:hover {
    background-color: #000000ca;
}

.error-message, .info-message {
    display: none;
    margin-top: 10px;
    font-size: 14px;
}

.error-message {
    color: red;
}

.info-message {
    color: blue;
}

#ingbutton {
    background-color: #000000; 
    color: #ffffff; 
    padding: 5px; 
    border-radius: 5px; 
    text-decoration: none; 
}

#ingbutton:hover {
    background-color: #d0d0d0; 
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 20;
}