/* General Styles */
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  background-color: #FAF9F6;
  height: 100%;
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #FAF9F6;
  color: rgb(0, 0, 0);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.nav-icon {
  width: 50px;
  height: auto;
}

nav .nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav .nav-links li {
  margin-left: 20px;
}

nav .nav-links li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

nav .nav-links li a:hover {
  background-color: lightgrey;
  color: rgb(0, 0, 0);
}

.nav-item {
  margin-left: 20px;
}

.nav-item a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.nav-item a:hover {
  background-color: lightgrey;
  color: rgb(0, 0, 0);
}

.profile-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.profile-container h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.profile-info {
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
}

.user-details h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.user-details p {
    font-size: 16px;
    margin: 5px 0;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 20;
}