.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    max-width:350px;
    padding: 150px;
    border-radius: 30px;
    position: relative;
    background-color: #333333;
    color: #fff;
    border: 1px solid #333333;
}
.titulo{
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 40px;
    color: #008080;
    font-family: "Lilita One", sans-serif;
}

.titulo::before{
    width: 18px;
    height: 18px;
}

.titulo::after{
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
}

.titulo::before,
.titulo::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: #008080;
}

.mensaje, 
.inicio {
  font-size: 20px;
  color: #F0F0F0;
  font-family: "Lilita One", sans-serif;

}

.inicio {
    text-align: center;
  }
  
  .inicio a:hover {
    text-decoration: underline #1B263B;
  }

  .inicio a {
    color: #008080;
  }

  .flex {
    display: flex;
    width: 100%;
    gap:30px;
  }
  .form label {
    position: relative;
  }
  
  .form label .texto {
    background-color: #333333;
    color: #F0F0F0;
    width: 100%;
    padding: 20px 05px 05px 10px;
    outline: 0;
    border: 2px solid #F0F0F0;
    border-radius: 10px;
  }
  
  .form label .texto + span {
    color: rgba(255, 255, 255, 0.5);
    position: absolute;
    left: 10px;
    top: 0px;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
  }
  
  .form label .texto:placeholder-shown + span {
    top: 12.5px;
    font-size: 0.9em;
  }
  
  .form label .texto:focus + span,
  .form label .texto:valid + span {
    color: #008080;
    top: 0px;
    font-size: 0.7em;
    font-weight: 600;
  }
  
  .texto {
    font-size: medium;
  }
  
  .submit {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    color: #F0F0F0;
    font-size: 16px;
    transform: .3s ease;
    background-color: #008080;
  }
  
  .submit:hover {
    background-color: #00bfff96;
  }
  
  @keyframes pulse {
    from {
      transform: scale(0.9);
      opacity: 1;
    }
  
    to {
      transform: scale(1.8);
      opacity: 0;
    }
  }
  body{
    background-image: url("../assets/images/cuanto-cuesta-agencia-eventos.jpg");
    margin: 20px;
    background-size: cover;
  }
  .titulo5{
    display: flex;
    flex-direction: column;
  }
  .forms2{
    display: flex;
    justify-content: center;
    margin: 20px;
    background-size: cover;
  }
  h1{
    font-family: "Lilita One", sans-serif;
    color: white;
    font-size: 50px;
  }
  .imagen{
    display: flex;
    border-radius: 10%;
    width: 150px;
    height: 150px;
    
    

  }
  .titulo_integradora{
    display: flex;
    justify-content: space-between;
  }

