body, html {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    height: 100%;
    background: url('/assets/images/image-b192146d-7a62-463d-b437-8ff813ab8244.jpg.webp') no-repeat center center fixed; 
    background-size: cover; 
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    position: relative;
    z-index: 10;
}

nav .logo a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-weight: bold;
}

nav .nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav .nav-links li {
    margin-left: 20px;
}

nav .nav-links li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

nav .nav-links li a:hover {
    background-color: lightgrey;
    color: rgb(0, 0, 0);
}

.registro-container {
    display: flex;
    height: calc(100vh - 60px); /* Ajuste para cubrir el espacio restante debajo del nav */
    justify-content: center; /* Asegura que haya espacio entre los formularios */
    align-items: center;
    padding: 20px; /* Añadido para dar espacio superior e inferior */
}

.registro-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco semitransparente para los formularios */
    border: 1px solid #ccc;
    border-radius: 8px;
    max-width: 500px; /* Ajuste de ancho máximo */
    width: 100%; /* Asegura que el formulario se ajuste al contenedor */
}

.registro-form h2 {
    margin-top: 0;
    font-size: 24px; /* Tamaño del título */
    margin-bottom: 20px;
}

.registro-form label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px; /* Tamaño del texto de los labels */
}

.registro-form input {
    width: 100%;
    padding: 10px; /* Padding interno del input */
    margin-bottom: 15px;
    font-size: 16px; /* Tamaño del texto del input */
    border: 1px solid #ccc;
    border-radius: 5px;
}

.registro-form .error-message {
    color: red;
    font-size: 14px;
    margin-top: -10px; /* Ajuste para que aparezca justo debajo del campo de confirmación de contraseña */
    margin-bottom: 15px; /* Espacio para que no esté pegado al botón */
}

.registro-form button {
    width: 100%;
    padding: 10px; /* Padding interno del botón */
    font-size: 16px; /* Tamaño del texto del botón */
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.registro-form button:hover {
    background-color: #000000ca;
}
